{% extends "base.html" %}

{% block content %}
<div class="blobs_card">
 <span class="headline-small color-primary-text">Current uploaded photos</span>
  <table class="blob_list_table">
   <tbody>
    {% for blob in container %}
    <tr>
     <td class = "body-medium color-primary-text list_blob">{{ blob }}</td>
     <script type=text/javascript>
       $(function() {
       $("#mybutton{{ loop.index }}").click(function (event) {
           $.get('/generatelink', {"blob": "{{ blob }}"}, function (output) {
           $("#output").html('<p class="body-medium link_output" id="output_link">'+output+'</p>');
           $("#share-link-buttons").html('<p class="body-medium link_output" id="output_link">'+output+'</p>');
           
           });
       });
       });
     </script> 
     <td class = "blob_button_table"><input type = "button" class="title-small blob_button" id = "mybutton{{ loop.index }}" value = "Generate Link" /></td>
    </tr>
    {% endfor %}
   </tbody>
  </table>
  <div class="share_link tertiary-container" id="output">
   <p class="body-medium link_output" id="output_link">No share links generated.</p>
  </div>
  <div class="share-link-buttons">
    <script type=text/javascript>
      $(function() {
      $("#clipboard").click(function (event) {
        var copyText = document.getElementById("output_link").innerHTML;
        if (copyText != "No share links generated.") {
          navigator.clipboard.writeText(copyText);
        }
       });
      });
    </script> 
    <button class="title-small blob_button" id="clipboard">Copy to clipboard</button>
    <script type=text/javascript>
      $(function() {
      $("#download").click(function (event) {
        var copyText = document.getElementById("output_link").innerHTML;
        if (copyText != "No share links generated.") {
          window.open(copyText, '_blank');
        }
       });
      });
    </script> 
    <button class="title-small blob_button" id="download" style = "width: 158.8px;;">Download file</button>
  </div>
</div>
<div class="links">

</div>
{% endblock %}