{% extends "base.html" %}

{% block content %}
 <div class="blobs_card" id="file_select">
    <form method=post enctype=multipart/form-data>
      <div class="select-image">
        <input type=file name=file class="file-input title-small", accept="image/*">
      </div>
      <div class="centre-div">
        <input type=text id="blob_name" name="blob_name" class="blob_name" placeholder="Name your image"><br>
      </div>
      <div class="centre-div" style="width:93.83px">
        <input type=submit value=Upload class = "title-small blob_button">
      </div>
    </form>
    <div class = "share_link tertiary-container">
      {% with messages = get_flashed_messages() %}
       {% if messages %}
         {% for message in messages %}
           <p class = "body-medium link_output">{{ message }}</p>
         {% endfor %}
       {% endif %}
      {% endwith %}
   </div>
 </div>

{% endblock %}